In [1]:
import sqlite3
import openpyxl
import pandas as pd

In [22]:
conn = sqlite3.connect('broward_listings.db')
c = conn.cursor()

In [5]:
c.execute('''CREATE TABLE Host (
	hid integer PRIMARY KEY AUTOINCREMENT,
	host_about blob,
	host_location blob,
	host_name blob,
	host_since blob
)''')

In [6]:
c.execute('''CREATE TABLE Neighborhood (
	nid integer PRIMARY KEY AUTOINCREMENT,
	hid integer,
	neighbourhood_cleansed blob,
	neighbourhood blob,
	neighbourhood_group_cleaned blob,
	FOREIGN KEY(hid) REFERENCES Host(hid)
)''')

In [7]:
c.execute('''CREATE TABLE Review (
	rid integer PRIMARY KEY AUTOINCREMENT,
	hid integer,
	review_score_rating blob,
	number_of_reviews blob,
	review_score_checkin blob,
	review_scores_communication blob,
	FOREIGN KEY(hid) REFERENCES Host(hid)
)''')

In [8]:
c.execute('''CREATE TABLE Property (
	pid integer PRIMARY KEY AUTOINCREMENT,
	property_type text,
	room_type text,
	amenities blob,
	price blob,
	nid integer,
	FOREIGN KEY(nid) REFERENCES Neighborhood(nid)
)''')

In [17]:
broward_listings = pd.read_excel(r'C:\Users\recon\Desktop\browardlistings.xlsx', sheet_name='Property')

In [18]:
broward_listings

,index,property_type,room_type,amenities,price
0,NaN,Entire home,Entire home/apt,"[""Hair dryer"", ""Extra pillows and blankets"", ""...",307
1,NaN,Entire home,Entire home/apt,"[""Hair dryer"", ""Free parking on premises"", ""Fi...",374
2,NaN,Room in hotel,Private room,"[""Hair dryer"", ""Extra pillows and blankets"", ""...",268
3,NaN,Room in hotel,Private room,"[""Hair dryer"", ""Extra pillows and blankets"", ""...",294
4,NaN,Entire home,Entire home/apt,"[""Hair dryer"", ""Private entrance"", ""Extra pill...",104
...,...,...,...,...,...
16629,NaN,Entire condo,Entire home/apt,"[""Hair dryer"", ""Paid parking off premises"", ""E...",59
16630,NaN,Entire vacation home,Entire home/apt,"[""Hair dryer"", ""Free parking on premises"", ""Ro...",129
16631,NaN,Private room in serviced apartment,Private room,"[""Hair dryer"", ""High chair"", ""Smoke alarm"", ""L...",131
16632,NaN,Entire serviced apartment,Entire home/apt,"[""Hair dryer"", ""Free parking on premises"", ""Sm...",192
16633,NaN,Entire condo,Entire home/apt,"[""Hair dryer"", ""Extra pillows and blankets"", ""...",113

In [35]:
conn.commit()
conn.close()